<div class="navigation-wrapper">
  <div class="site-name">
    <a href="{{ site.url }}/">{{ site.title }}</a>
  </div><!-- /.site-name -->
  <div class="top-navigation">
    <nav role="navigation" id="site-nav" class="nav">
        <ul>
            {% for link in site.data.navigation %}
            {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.url %}
            {% endif %}
            <li>
              <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
                {% if link.image %}
                  {% if link.image.class %}
                    <i class="{{ link.image.class }}"></i>&nbsp;{{ link.title }}
                  {% else %}
                    <img src="{{ link.image.file }}" alt="{{ link.title }}" height="{{ link.image.height }}px" width="{{ link.image.width }}px">
                  {% endif %}
                {% else %}
                  {{ link.title }}
                {% endif %}
              </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
  </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->